spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/planyourgame
    username: postgres
    password: "25252525@Aa"
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never
